.parent{
    background-image: url(./images/airplane.png);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topheader {
    display: flex;
    width: 100%;
    height:80px;
    margin-top: 35px;
    background-color: #FFFFFF;
    align-items: center;
}
.plane {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 13%;
    height:50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.flight {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;
    height: 17px;
}
.car { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 15%;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.putinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 25%;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.log {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    height: 20px;
    color: black;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    gap: 8px;
    width: 30%;
    height: 48px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    order: 0;
    flex-grow: 0;
}
.subparent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-top: 90px;
}
.help {
    height: 57px;
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 57px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.live {
    height: 101px; 
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.special { 
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.subheader {
    display: flex;
    flex-direction: column;
    padding: 16px 32px 32px;
    gap: 32px;
    isolation: isolate;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.15);
    border-radius: 16px;
    width: 80%;
    height: 280px;
    margin-top: 390px;
}
.pseudoparent {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.flying {
    height: 24px;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #112211;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.blackcar {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #112211;
    height: 20px;
    width: 45%;
}
.blackplane {
    height: 20px;
    width: 45%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.borderfrom {      
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 324px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #79747E;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.imagesparent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 100px;
}
.img {
    width: 90%;
}
.addpromo {
    display: flex;
    width: 89%;
    align-items: center;
    justify-content: flex-end;
}
.subpromo {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    align-items: center;
}
.promo {
    width: 80%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.secondparent{
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 290px;
   margin-bottom: 25px;
}
.secondparent1{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
    margin-bottom: 25px;
 }
.plan {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 39px;
   color: #000000;
}
.search {
   color: #112211;
   opacity: 0.75;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   flex: none;
   order: 1;
   flex-grow: 0;
}
.space {
   width: 24%;
}
.subsecondparent {
    width: 65%;
}
.btn{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 8px 16px;
   gap: 4px;
   width: 149px;
   height: 40px;
   border: 1px solid #8DD3BB;
   border-radius: 4px;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.map {
    height: 650px;
}
.submap {
    width: 100%;
    height: 100%;
}
.travelsection {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.melbourne {
    height: 350px;
    background-image: url(./images/melbourne.jpg);
    background-size: cover;
    width: 20%;
}
.paris {
    height: 350px;
    background-image: url(./images/paris.jpg);
    background-size: cover;
    width: 20%;
}
.london{
    height: 350px;
    background-image: url(./images/london.jpg);
    background-size: cover;
    width: 20%;
}
.columbia {
    height: 350px;
    background-image: url(./images/columbia.jpg);
    background-size: cover;
    width: 20%;
}
.submelbourne{
    display: flex;
    width: 100%;
    margin-top: 235px;
    justify-content: space-evenly;
}
.bookbtn {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    background-color: #8DD3BB;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    border: none;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.mel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.journey {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.dollar {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.parentbtn {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.lanka {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.backpack {
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #112211;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.srilanka {
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #112211;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.flightbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.fromparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 4px;
    background: #FFFFFF;
    border-radius: 8px;
}
.from {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #112211;
    
}
.travelling {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    align-self: stretch;
}
.backparent {
    display: flex;
}
 .aleko{
    width: 40%;
    height: 383px;
    background: #8DD3BB;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 15px;
 }    
 .firstimages {
    display: flex;
    justify-content: space-evenly;
 }
 .firstimages1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
 }
 .mwvane {
    width: 60%;
    height: 100%;
    margin-right: 13px;
 }
 .alekoimages {
    display: flex;
    flex-direction: column;
    width: 40%;
 }
.footer {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}
.subfooter {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.subscribe {
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    width: 25%;
    color: #112211;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.travel {
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #112211;
    opacity: 0.8;
}
.inspired {
    font-family: 'Montserrat';
    font-style: normal;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
    opacity: 0.7;
}
.inputdiv {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.inpspace {
    width:30px;
}
.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: left;
    width: 80%;
    height: 50px;
}
.btnsub {
    background: #112211;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
}
.btnspan {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footerback{
    width: 80%;
    display: flex;
    align-items: center;
    height: 380px;
    justify-content: space-evenly; 
    background: #CDEAE1;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px 24px;
    gap: 180px;
}
.emoji {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.greenfooter{
    height: 100%;
    width: 100%;
    background: #8DD3BB;
    display: flex;
    margin-top: -156px;
    justify-content: space-evenly;
}
.greensection {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    justify-content: center;
    margin-top: 20px;
}
.footertext {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    justify-content: center;
    margin-top: 45px;
}
.Globaltexts {
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
}
.gray {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    opacity: 0.7;
    margin-top: 4px;
    margin-bottom: 8px;
}
.gray1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    opacity: 0.7;
    margin-top: 3px;
    margin-bottom: 5px;
}
.gray2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    opacity: 0.7;
    margin-bottom: 15px;
}
